body{
    
}

.header{

}

#home{
    background: #fbff00;
}

#entrar{
    padding:0;
}

.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5 ;
}

#logo{
    
}

.nav-bar{
  
   
    
 
}

#menu {
   
        
}

ul{

}

li{
    
}

#login{
    
}